<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>{{name}}</title>
    <style>
      :root {
        background: #fafafa;
        color: rgba(0, 0, 0, 0.87);
      }
      @media (prefers-color-scheme: dark) {
        :root {
          background: #121212;
          color: #ffffff;
        }
      }
    </style>
  </head>
  <body>
    <ul>
    {% for page in pages %}
    <li><a href="/static/{{page}}">{{page}}</a></li>
    {% endfor %}
    </ul>
  </body>
</html>
