<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>{{name}}</title>
    <meta http-equiv="refresh" content="10" />
    <style>
      :root {
        background: #fafafa;
        color: rgba(0, 0, 0, 0.87);
      }
      @media (prefers-color-scheme: dark) {
        :root {
          background: #121212;
          color: #ffffff;
        }
      }
    </style>
  </head>
  <body>
    Trying to fetch content, automatic reload incoming...
  </body>
</html>
