<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>{{name}}</title>
    <meta http-equiv="refresh" content="10" />
  </head>
  <body>
    Trying to fetch content, automatic reload incoming...
  </body>
</html>